@using InfoSurge.Models.Article
@{
    ViewData["Title"] = "Изтриване на новина";
}
@model ArticleDeleteVM

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-primary bg-gradient ml-0 py-3 rounded">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Изтриване на новина</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <form asp-controller="Article" asp-action="Delete" enctype="multipart/form-data" method="post" class="row" runat="server">
            <div class="border p-3">
                <div class="form-floating py-2 col-12">
                    <label asp-for="Title" class="col-form-label p-lg-2">Заглавие:</label>
                    <input asp-for="Title" type="text" class="form-control border-0 shadow" disabled/>
                </div>
                <div class="form-floating py-2 col-12">
                    <label asp-for="Introduction" class="col-form-label p-lg-2">Въведение:</label>
                    <textarea asp-for="Introduction" class="form-control border-0 shadow" rows="5" disabled></textarea>
                </div>
                <div class="form-floating py-2 col-12">
                    <label asp-for="MainImageUrl" class="col-form-label p-1">Начална Снимка(задължителна):</label>
                    <input type="file" name="mainImage" class="form-control border-0 shadow" accept="image/*" disabled />
                </div>
                <div class="form-floating py-2 col-12">
                    <label asp-for="Content" class="col-form-label p-lg-2">Съдържание:</label>
                    <textarea asp-for="Content" class="form-control border-0 shadow" rows="5" disabled></textarea>
                </div>

                <div class="form-floating py-2 col-12">
                    <label asp-for="AdditionalImages" class="col-form-label p-1">Допълнителни снимки(по избор):</label>
                    <input type="file" name="AdditionalImages" class="form-control border-0 shadow" accept="image/*" disabled multiple />
                </div>
                <div class="form-floating py-2 col-12">
                    <label>Категории(по избор, може повече от една):</label>
                    <select id="multiSelectDropdown"
                            name="SelectedCategoryIds"
                            multiple="multiple"
                            class="form-control" disabled>
                        @foreach (SelectListItem category in Model.CategoryIds)
                        {
                            <!option value="@category.Value" @(Model.SelectedCategoryIds.Contains(int.Parse(category.Value)) ? "selected" : "")>
                                @category.Text
                            </!option>
                        }
                    </select>
                </div>
                <button asp-controller="Article" asp-action="Delete" type="submit" class="btn btn-primary p-2 rounded-start">Изтрий</button>
                <a asp-controller="Home" asp-action="Index" class="btn btn-secondary p-2 rounded-end">Върни се обратно</a>
            </div>
            <div class="col-2">
                <p><strong>Текуща начална снимка:</strong></p>
                <img src="@Model.MainImageUrl" width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />

                @if (Model.AdditionalImages.Any())
                {
                    <p class="mt-3"><strong>Допълнителни снимки:</strong></p>
                    @foreach (var image in Model.AdditionalImages)
                    {
                        <div class="form-check mb-2">
                            <input type="checkbox"
                                   name="ImagesIdsToDelete"
                                   value="@image.Id"
                                   class="form-check-input"
                                   id="removeImage_@image.Id" disabled/>Премахни
                            <label class="form-check-label" for="removeImage_@image.Id">
                                <img src="@image.ImagePath" width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />
                            </label>
                        </div>
                    }
                }
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#multiSelectDropdown').select2({
                placeholder: 'Изберете категории',
                allowClear: true
            });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/autosize@4.0.2/dist/autosize.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            autosize(document.querySelectorAll("textarea"));
        });
    </script>
}
