@using InfoSurge.Core
@using InfoSurge.Data.Models
@using InfoSurge.Models.Category
@model PagingModel<CategoryVM>
@{
    ViewData["Title"] = "Категории";
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <i class="bi bi-check2-circle"></i> @TempData["Success"]
    </div>
}
@if (!Model.Items.Any())
{
    <h1>
        Няма налични категории
    </h1>
}
else
{
    <h1 class="text-primary">Категории</h1>
    <table class="table table-bordered table-hover table-responsive">
        <thead>

            <tr>
                <th class="align-content-center">Име</th>
                <th class="align-content-center">Описание</th>
                @if ((bool)ViewData["IsSignedIn"])
                {
                    <th>Абонирайте се за категория, за да получавате известия за нови статии.</th>
                }
                @if ((bool)ViewData["IsEditor"])
                {
                    <th class="align-content-center">Бутони за управление</th>
                }
            </tr>
        </thead>
        <tbody>
            @if (Model.Items.Any())
            {

                @foreach (CategoryVM category in Model.Items)
                {
                    <tr>
                        <td>@category.Name</td>
                        <td>@category.Description</td>
                        @if ((bool)ViewData["IsSignedIn"])
                        {
                            <td class="d-flex justify-content-evenly">
                                <form method="post" asp-action="SubscribeToCategory" asp-controller="Category">
                                    <input type="hidden" name="categoryId" value="@category.Id" />
                                    <input type="hidden" name="pageIndex" value="@Model.PageIndex" />
                                    <button type="submit" class="btn btn-primary">

                                        @if (!category.IsUserSubscribed)
                                        {

                                            <a><i class="bi bi-plus-circle"></i> Абонирай се</a>
                                        }
                                        else
                                        {
                                            <a> <i class="bi bi-x-circle"></i> Отбонирай се</a>
                                        }

                                    </button>
                                </form>
                            </td>
                        }
                        @if ((bool)ViewData["IsEditor"])
                        {
                            <td>
                                <a asp-controller="Category" asp-action="Edit" class="btn btn-outline-info" asp-route-id="@category.Id"><i class="bi bi-pencil-square"></i>Редактирай</a>
                                <a asp-controller="Category" asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@category.Id"><i class="bi bi-x-circle"></i>Изтрий</a>
                            </td>
                        }
                    </tr>
                }
            }

        </tbody>

    </table>
}
@{
    string prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    string nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
@if (Model.Items.Any())
{
    <div class="d-flex justify-content-center align-items-center my-4">
        <a asp-action="All" asp-route-pageIndex="@(Model.PageIndex - 1)" class="btn btn-secondary rounded @prevDisabled">
            <i class="bi bi-chevron-left"></i>Предишна
        </a>
        <span class="badge bg-secondary fs-6 px-3 py-2 mx-1 rounded-pill" aria-live="polite">
            @Model.PageIndex
        </span>
        <a asp-action="All" asp-route-pageIndex="@(Model.PageIndex + 1)" class="btn btn-secondary rounded @nextDisabled">
            Следваща<i class="bi bi-chevron-right"></i>
        </a>
    </div>
}

@if (!Model.Items.Any())
{
    <div class="container-md mt-4 d-flex justify-content-center">
        <div class="btn-group">
            @if ((bool)ViewData["IsEditor"])
            {
                <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary btn-lg">
                    Върни се обратно
                </a>
            }
            <a asp-controller="Category" asp-action="Add" class="btn btn-outline-success btn-lg">
                <i class="bi bi-plus-circle me-1"></i> Добави Категория
            </a>
        </div>
    </div>
}
else
{
    <div class="container-md mt-4 d-flex justify-content-between">
        @if ((bool)ViewData["IsEditor"])
        {
            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">
                Върни се обратно
            </a>
        }
        <a asp-controller="Category" asp-action="Add" class="btn btn-outline-success">
            <i class="bi bi-plus-circle me-1"></i> Добави Категория
        </a>
    </div>
}


